flows.json
[{"id":"bf497407.8e6e78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"75bc5638.fffe08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"855dfe7f.1af15","type":"ui_group","name":"Temperatura","tab":"eae48840.d82968","order":2,"disp":true,"width":"6","collapse":false},{"id":"127b5971.bd3767","type":"ui_group","name":"Umidade do Ar","tab":"eae48840.d82968","order":3,"disp":true,"width":"6","collapse":false},{"id":"5b1de85a.d24658","type":"ui_group","name":"Umidade do Solo","tab":"eae48840.d82968","order":1,"disp":true,"width":"6","collapse":false},{"id":"45cce01a.0f1e4","type":"ui_group","name":"Irrigador","tab":"eae48840.d82968","order":4,"disp":true,"width":4,"collapse":false},{"id":"eae48840.d82968","type":"ui_tab","name":"HOME","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7bce06de.dde678","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"df815884.43fbc8","type":"telegram bot","botname":"IoTMackbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"3aab1496.f658cc","type":"ibmiot","name":"chaveAPI","keepalive":"60","serverName":"shlz4b.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b1b11140.4e4ef","type":"inject","z":"bf497407.8e6e78","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"bf497407.8e6e78","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"3e86c963.737526","type":"debug","z":"75bc5638.fffe08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":360,"wires":[]},{"id":"afe81443.8da658","type":"change","z":"75bc5638.fffe08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":60,"wires":[["cb9eb112.af962"]]},{"id":"e14d4589.ebd568","type":"change","z":"75bc5638.fffe08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.umidadeAr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":120,"wires":[["ee233c2c.342a"]]},{"id":"7748a074.6465","type":"change","z":"75bc5638.fffe08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.umidadeSolo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["c7cb254.75de5d8"]]},{"id":"cb9eb112.af962","type":"ui_gauge","z":"75bc5638.fffe08","name":"temperatura","group":"855dfe7f.1af15","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}°","min":"0","max":"40","colors":["#00c1ff","#b2e723","#f70202"],"seg1":"17","seg2":"26","x":600,"y":60,"wires":[]},{"id":"ee233c2c.342a","type":"ui_gauge","z":"75bc5638.fffe08","name":"umidadeAr","group":"127b5971.bd3767","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#e60505","#96f556","#fff94d"],"seg1":"40","seg2":"70","x":600,"y":120,"wires":[]},{"id":"c7cb254.75de5d8","type":"ui_gauge","z":"75bc5638.fffe08","name":"umidadeSolo","group":"5b1de85a.d24658","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#ff0000","#5dff05","#fff714"],"seg1":"30","seg2":"80","x":600,"y":180,"wires":[]},{"id":"c9a05437.037418","type":"ui_switch","z":"75bc5638.fffe08","name":"irrigador_on/off","label":"Desliga / Liga","tooltip":"","group":"45cce01a.0f1e4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topico_relay","style":"","onvalue":"{\"value\":0}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"value\":1}","offvalueType":"json","officon":"","offcolor":"","x":100,"y":420,"wires":[["9256feb7.439a6","fab932d7.cbb52"]]},{"id":"9256feb7.439a6","type":"function","z":"75bc5638.fffe08","name":"","func":"msg.eventOrCommandType = 'topico_relay';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":420,"wires":[["875f415a.5a3cb"]]},{"id":"979dbf2.695114","type":"switch","z":"75bc5638.fffe08","name":"","property":"payload.d.umidadeSolo","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":290,"y":260,"wires":[["d0fc12a7.d0031"]]},{"id":"fab932d7.cbb52","type":"debug","z":"75bc5638.fffe08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":500,"wires":[]},{"id":"d0fc12a7.d0031","type":"change","z":"75bc5638.fffe08","name":"","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.chatId","pt":"msg","to":"1417661857","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"Solo Seco! Liguei o irrigador em: https://iotirrigador.mybluemix.net/ui/#!/0?socketid=R4RScfa7YslLRjCrAAAE","tot":"str"},{"t":"move","p":"payload.d.umidadeSolo","pt":"msg","to":"payload.d.umidadeSolo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["ae242c51.efbd5"]]},{"id":"ae242c51.efbd5","type":"delay","z":"75bc5638.fffe08","name":"","pauseType":"rate","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":680,"y":260,"wires":[["e5e17484.b91838","d734903.0bb197"]]},{"id":"d734903.0bb197","type":"change","z":"75bc5638.fffe08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":340,"wires":[["c9a05437.037418"]]},{"id":"e5e17484.b91838","type":"telegram sender","z":"75bc5638.fffe08","name":"","bot":"df815884.43fbc8","haserroroutput":false,"outputs":1,"x":530,"y":360,"wires":[["3e86c963.737526"]]},{"id":"875f415a.5a3cb","type":"ibmiot out","z":"75bc5638.fffe08","authentication":"apiKey","apiKey":"3aab1496.f658cc","outputType":"cmd","deviceId":"001","deviceType":"Node ESP8266","eventCommandType":"topico_relay","format":"json","data":"{\"data\":\"data\"}","qos":0,"name":"IBM IoT","service":"registered","x":500,"y":420,"wires":[]},{"id":"615c6553.ba5f1c","type":"ibmiot in","z":"75bc5638.fffe08","authentication":"apiKey","apiKey":"3aab1496.f658cc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":120,"wires":[["afe81443.8da658","e14d4589.ebd568","7748a074.6465","979dbf2.695114"]]}]